html {
    background-color: lightgray;
    padding: 0 0 4px 0;
}

body {
    width: min(20cm, 100%);
    margin: 0 auto;
    min-height: calc(100vh - 8px);
    max-height: fit-content;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    padding: 8pt;
}

header {
    position: sticky;
    background-color: lightgray;
    top: 0px;
    border-bottom: 1pt solid black;
    padding: 4pt 0 0 0;
}

header>div {
    background-color: white;
    height: 100%;
    margin: 0;
    padding: 4pt;
}

header>div>h1:first-child {
    margin: 0 0 4pt;
}

nav>button {
    border: 1pt solid gray;
    border-radius: 0;
    background-color: azure;
    font-size: 12pt;
    font-weight: bold;
    cursor: pointer;
    transition: all 500ms ease;
}

nav>button:hover {
    background-color: aqua;
}

nav>button:active {
    background-color: lightblue;
}

p.no-spacing {
    margin-top: 0;
    margin-bottom: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.vcenter {
    margin-top: auto;
    margin-bottom: auto;
}

.monospace {
    font-family: monospace;
}

div.popup {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #00000088;
    z-index: 10;

    grid-template-columns: auto max-content auto;
    grid-template-rows: auto max-content auto;
}

div.popup>div {
    display: block;
    grid-row: 2;
    grid-column: 2;
    margin: auto auto;
    padding: 4px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
}

div.popup>div div.error-message {
    max-width: 16cm;
    overflow-x: scroll;
    padding: 10px 0 16px 0;
}

div.popup button.close-button {
    display: block;
    margin: 4px 0 0 auto;
    font-size: large;
}
